<div class="row justify-content-center">
  <div class="card col-4 m-3 " 
       style="width: 30rem;" 
       *ngFor="let evento of events">
    <div class="row pt-3" style="padding-left: 2rem;">
        <p class="text-primary">{{ evento.title }}</p>
        <p class="text-primary">{{ evento.subtitle }}</p>
    </div>
    <img src="{{ evento.image }}" class="card-img-top" alt="Evento">
    <div class="card-body">
      <p> {{ evento.startDate | date: 'dd/MM/yyyy' }} - {{ evento.endDate | date: 'dd/MM/yyyy' }} </p>
      <p class="card-text">{{ evento.description }}</p>
    </div>
    <div class="d-grid m-2 gap-2">
      <a [routerLink]="[ '/evento', evento.id]" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>


